Class 1 - Python Basics

In [4]:
print("Happy Sunday!")

Happy Sunday!

In [7]:
# variables
name = "Migle"
type(name) # prints variable name type - str 

# variable naming conventions
    # meaningful and descriptive
    # underscores - snake_case
    # cammelCase

str

In [10]:
# order of operations
    # PEMDAS 
        # paretheses
        # exponents
        # multiplication
        # division
        # addition
        # subtraction

pemdas = (1 + 3) * 5 / 2 ** 2
pemdas

5.0

In [12]:
# variable memory locations
var1 = 10
var2 = 10
result1 = var1 is var2 # is - checks if both vars refer to the same object
result1 # returns true

True

In [13]:
greeting = "Hello!"
len(greeting) # len - returns the number of chars in a string

6

In [14]:
greeting[0] # returns the first char in the string

'H'

In [18]:
greeting[5] + " " + greeting[-1] # both return the last char in string

'! !'

In [19]:
greeting[3:6] # slicing the string from 3rd to 6th char

'lo!'

In [21]:
greeting.upper() + " " + greeting.lower()

'HELLO! hello!'

In [22]:
greeting.replace("lo!", "p!") # replacing a stubstring with provided input

'Help!'

In [24]:
name = "Migle"
age = 23
intro = f"{greeting}, my name is {name} and I am {age} years old" # f string allows to insert variables into string
intro

'Hello!, my name is Migle and I am 23 years old'

In [34]:
# conditional statements

# if
age = 23
if age >= 18: 
    print("You are an adult")
elif 12 <= age < 18:
    print("You are a teenager")
else:
    print("You are a kid")

You are an adult

In [37]:
temperature = 23
"It's a nice day!" if temperature > 19 else "Could be warmer.."

"It's a nice day!"

In [38]:
# for loop
fruits = ["apple", "banana", "strawberry"]

for fruit in fruits:
    print(fruit)

apple
banana
strawberry

In [39]:
for number in range(1,10): # doesn't print the last number in range
    print(number)

1
2
3
4
5
6
7
8
9

In [41]:
# while loop
count = 0
while count < 3:
    print(f"Count: {count}")
    count += 1 # doesn't accept ++

Count: 0
Count: 1
Count: 2

In [50]:
# break 
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    if number == 4: # will prevent from number 4 being printed
        break # will exit the loop
    print(f"number: {number}")

number: 1
number: 2
number: 3

In [53]:
# continue
for number in numbers:
    if number%2 == 0:
        continue # will skip the later conditions - only uneven numbers will be returned
    print(f"uneven numbers: {number}")

uneven numbers: 1
uneven numbers: 3
uneven numbers: 5

In [108]:
fruits.append("grape") # adds grape to list
fruits

['apple', 'banana', 'strawberry', 'grape']

In [109]:
fruits[1:4] # pirmas skaitmuo yra -1 : antras skaitmuo yra kokia elemento is tikruju pozicija

['banana', 'strawberry', 'grape']

In [110]:
fruits.pop(3) # removes the 3rd element from list
fruits

['apple', 'banana', 'strawberry']

In [ ]:
# tuples 
dimensions = (10, 20, 15)
type(dimensions)

tuple

In [ ]:
person = {
    "name" : "Migle",
    "age" : 23,
    "job" : "Software Engineer",
    "is_student" : False
}
person
type(person) # dictionary (dict) type

dict

In [ ]:
person["name"] # to access specific element, pass in param name in ""

'Migle'

In [ ]:
person["job"]

'Software Engineer'

In [ ]:
person["is_student"] = True # to assign a different value to param
person

{'name': 'Migle', 'age': 23, 'job': 'Software Engineer', 'is_student': True}

In [ ]:
person["nationality"] = "Lithuanian" # to add a new param with value
person

{'name': 'Migle',
 'age': 23,
 'job': 'Software Engineer',
 'is_student': True,
 'nationality': 'Lithuanian'}

In [ ]:
# sets
colours_set = {"red", "blue", "yellow"}
colours_set

{'blue', 'red', 'yellow'}

In [ ]:
len(colours_set)

3

In [ ]:
isGreenPresent = "green" in colours_set
isGreenPresent

False

* Lists []
* Tuples ()
* Sets {}

In [105]:
# list comprehension
squared = [num ** 2 for num in range(5)] # simpler way to add elements to list without traditional for loops
squared

[0, 1, 4, 9, 16]

In [106]:
# list of lists
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [111]:
matrix[1]

[4, 5, 6]

In [112]:
matrix[1][1] # to access 5

5

In [120]:
people = {
    "Migle" : {
        "age" : 23,
        "job" : "Software Engineer"
    },
    "Dalia" : {
        "age" : 57,
        "job" : "Tax Advisor"

    }
}
people

{'Migle': {'age': 23, 'job': 'Software Engineer'},
 'Dalia': {'age': 57, 'job': 'Tax Advisor'}}

In [122]:
people["Migle"]

{'age': 23, 'job': 'Software Engineer'}

In [121]:
people["Migle"]["job"] # to access specific element of a particular object in an list of objects

'Software Engineer'

In [123]:
people = [{
    "Migle" : {
        "age" : 23,
        "job" : "Software Engineer"
    },
    "Dalia" : {
        "age" : 57,
        "job" : "Tax Advisor"

    }
}]
people

[{'Migle': {'age': 23, 'job': 'Software Engineer'},
  'Dalia': {'age': 57, 'job': 'Tax Advisor'}}]

In [124]:
people[0]["Migle"] # 0 will return the whole dict

{'age': 23, 'job': 'Software Engineer'}

In [128]:
# defining functions
def greet():
    print("Hello!!")
greet()

Hello!!

In [129]:
def greet_person(name):
    print(f"Hello, {name}!")
greet_person("Migle")

Hello, Migle!

In [131]:
def calc_sum(*numbers): # to allow a variable (non-fixed) number of input elements 
    total = sum(numbers)
    return total

In [133]:
calc_sum(1, 2, 3, 4, 5)

15

In [135]:
# lambda functions
square = lambda x: x ** 2 # in this case, square will be the function name
result = square(4)
result

16

In [140]:
new_sum = lambda *x: sum(x)
new_result = new_sum(1, 2, 3, 4, 5)
new_result

15

In [141]:
# importing libraries
import random as rand
rand.randint(1, 10)

5

In [148]:
from random import choice
choice([1, 2, 3, 4, 5]) # to use the method directly, specifying the method from library

2

In [149]:
import math
math.sqrt(25)

5.0

In [150]:
class Dog:
    def __init__(self, name, age): # constructor to initialise the attributes
        self.name = name
        self.age = age

    def bark(self):
        print(f"{self.name} says woof!")

In [151]:
# objects - instances of the class
dog1 = Dog("Pupa", 11)
dog1.bark()

Pupa says woof!